<div class = "container" >
<div class="jumbotron">
     <h1>SCRAPED OIL</h1>
       <h3>All recent Edmonton Oilers news - Comment on your Favourite!</h3>
       <a href="/scrape"> <button type="button" class="btn btn-danger scrape" > Scrape for Articles </button></a>
</div>
<div class="article-container">

    {{#each Article}}
  <div class="row">

<div class="panel panel-warning">
  <div class="panel-heading">{{this.headline}}
    <a href="/notes/{{this._id}}">
    <button type="button" class="btn btn-primary save-article" >See Notes</button> </a>
  </div>
  <div class="panel-body">
    <a href= "https://www.nhl.com/oilers{{this.link}}" target="_blank"> {{this.link}}</a>
  </div>
</div>
    </div>
 {{/each}}
</div>


<!-- Footer -->
<footer class="footer container">
<a href="/">Home</a>
</footer>

</div>
<script>
</script>
