<div class = "container" >
<div class="jumbotron">
     <h2>Oilers News Scraper</h2>
       <h3>All recent Oilers news - save and comment on your favourite!</h3>
</div>
<div> <a href="/scrape"> Scrape for Articles </a></div>

<div class="article-container">

    {{#each Article}}
  <div class="row">

<div class="panel panel-default">
  <div class="panel-heading">{{this.headline}}
    <a href="/notes/{{this._id}}">
    <button type="button" class="btn btn-primary save-article" >See Notes</button> </a>
  </div>
  <div class="panel-body">
    <a href= "{{this.link}}"> {{this.link}}</a>
  </div>
</div>
    </div>
 {{/each}}
</div>


<!-- Footer -->
<footer class="footer container">
<a href="/">Home</a>
</footer>

</div>
<script>
</script>
