<div class="notes-container">

  {{#each Article}}
  <div class="row">
<div class="panel panel-default">
  <div class="panel body">
    <div class="col-md-8">
      <h4> {{this.headline}}</h4>
    </div>

   <div class ="com-md-4">
     <button type="button" data-id="{{this._id}}" class="btn btn-primary" id="add-note" data-toggle="modal" data-target="#noteModal">Add Note</button>
     <a href="/"> <button type="button" class="btn btn-primary save-article" >Back to Articles</button> </a>
 </div>
  </div></div>
  {{/each}}
</div>
